extends layout
block css
block js
block content
  div.main 
    h3 Wagers Initiated by You
  .container
      if wagers
        .row
          for wager, i in wagers.initiated_wagers
            div.acceptid() Wager with userID: #{wagers.acceptorid[i]}
            div(class='col-sm-#{4}') Ammount wagered: #{wager.ammount_wagered}
            div(class='col-sm-#{4}') Authentication-type: #{wager.auth}
            div(class='col-sm-#{4}') Currency: #{wager.currency}
            
block scripts
